# This is Git's per-user configuration file.
[user]
name = Aleksander Vognild Burkow
email = aleksanderburkow@gmail.com

[alias]
br = branch -v
cb = !git checkout -f master && git pull && git checkout -b
s = git status
ss = git status --staged
p = git push
fr = !git fetch && git reset --hard origin

[push]
default = current

[rebase]
autosquash = true

[core]
editor = vi

[diff]
compactionHeuristic = true
